<% if flash[:error] %>
  <% flash[:error].each do |error_msg| %>
    <p style="color:red;background:Lavender;padding:10px;font-family: sans-serif; font-size:16px;font-weight:bold;"><%= error_msg %></p>
  <% end %>
<% end %>
