<h1>Add new band</h1>

<form class="" action="/bands" method="post">
  <label>Band name:
    <br>
    <input type="text" name="band[name]">
  </label>
  <br>
  <br>
  <input type="submit" value="Add band"></input>
</form>
