/* PHASE 6: Sidebar */
.content-sidebar {
  padding: 20px;
}


.profile-info h2{
  margin: 20px 0;
}

.profile-nav ul {
  margin: 20px 0px;
}

.profile-nav a {
  text-decoration: none;
  color: #000;
  font-size: 13.75px;
}
.profile-nav li {
  padding: 5px 5px;
  border-top: 1px solid #ccc;
}
.profile-nav li:last-of-type {
  border-bottom: 1px solid #ccc;
}

.profile-nav h3{
  margin: 0;
}

.profile-nav li:hover {
  background: #eee;
}
